# Compiler files
cache/
out/
docOut/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

.vscode
/node_modules
bin/

#drawio
*.bkp

#hardhat
artifacts/
cache_hardhat/
